<div class="container">
<div class="row">
  <div class="col-md-6" *ngIf="visibleLayouts.layout1">
    <button type="button" class="btn btn-primary btn-lg center-btn">1</button>
     <app-box (remove) = "removeLayout($event)"></app-box>
  </div>
  <div class="col-md-6" *ngIf="visibleLayouts.layout2">
    <button type="button" class="btn btn-primary btn-lg center-btn">2</button>
    <app-box (remove) = "removeLayout($event)"></app-box>
  </div>
  <div class="col-md-6" *ngIf="visibleLayouts.layout3">
    <button type="button" class="btn btn-primary btn-lg center-btn">3</button>
    <app-box (remove) = "removeLayout($event)"></app-box>
  </div>
  <div class="col-md-6" *ngIf="visibleLayouts.layout4">
    <button type="button" class="btn btn-primary btn-lg center-btn">4</button>
    <app-box (remove) = "removeLayout($event)"></app-box>
  </div>
</div>
</div>
<router-outlet></router-outlet>
